body {
    background-color: lightblue;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkred;
    text-align: center;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

div {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
    }

#frmMenu {
    width:400px;
    height:200px;
    }

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float:right;
    }

.menu {
    margin: auto;
    width: 90%;
    border: 4px solid darkred;
    padding: 10px;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
    }

#cart {
    top:0;margin:0px auto;
    width:100%;
    height:200px;
    }

#btnOrder {
    margin:10px 0px 0px 150px;
    width:100px;
    height:40px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    }

#btnOrder:hover {
    background-color: wheat;
}