html {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

    input:focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 30px;
    list-style-type: circle;
    margin: 0;
}

/* center the UI element that presents the todo entry point and task list: */
.todos {
    margin: auto;
    width: 60%;
    border: 3 px solid orangered;
    padding: 10px;
}

/* this adds padding between items in teh array after one has been deleted */
.remove {
    padding-bottom: 5px;
}

footer {
    position: -webkit-sticky;
    position: sticky;
    background-color: coral;
    padding: 10px;
    border: 10px solid orangered;
    font-size: 20px;
    font-weight: bold;
}